/* file: style.css */
body { 
    font-family: sans-serif; 
    margin: 20px; 
    background-color: #f4f4f4; 
}
h1, h2 { 
    color: #333; 
}
ul { 
    list-style-type: none; 
    padding: 0; 
}
li { 
    background-color: #fff; 
    border: 1px solid #ddd; 
    margin-bottom: 10px; 
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
button { 
    background-color: #e60000; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
    border-radius: 3px; 
    margin-left: 5px; /* Thêm một chút khoảng cách */
}
button.update { 
    background-color: #007bff; 
}
.task-info { 
    flex-grow: 1; 
}
.task-done-true { 
    text-decoration: line-through; 
    color: #888; 
}
#create-form { 
    background-color: #fff; 
    padding: 15px; 
    border: 1px solid #ddd; 
    margin-bottom: 20px; 
}
#create-form input { 
    width: 300px; 
    padding: 8px; 
    margin-right: 10px; 
}
#btn-create {
    background-color: #28a745;
}